<div class="container">
    <form action="./login" method="POST">
      <div class="header">
        <h2> Log In </h2>
      </div>

      <div class="sep"></div>

      <div class="inputs">
        <div class="row">
          <div class="col-xs-5">
            <label for="login_username"> Username: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="login_username" name="login_username" placeholder="Enter username">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="login_password" > Password: </label>
          </div>
          <div class="col-xs-7">
            <input type="password" id="login_password" name="login_password" placeholder="Enter Password">
          </div>
        </div>

        <button name="login" class="center-block"> Log In </button>
      </div>
    </form>
</div>

<div class="container">
    <form action="./signup" method="POST">
      <div class="header">
        <h2> Sign Up </h2>
      </div>

      <div class="sep"></div>

      <div class="inputs">
        <div class="row">
          <div class="col-xs-5">
            <label for="signup_first_name"> First Name: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="signup_first_name" name="signup_first_name" placeholder="First name">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="signup_last_name"> Last Name: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="signup_last_name" name="signup_last_name" placeholder="Last name">
          </div>
        </div>

        
        <div class="row">
          <div class="col-xs-5">
            <label for="signup_email"> E-mail: </label>
          </div>
          <div class="col-xs-7">
            <input type="email" id="signup_email" name="signup_email" placeholder="Enter email">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="signup_username"> Username: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="signup_username" name="signup_username" placeholder="Create username">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="signup_password"> Password: </label>
          </div>
          <div class="col-xs-7">
            <input type="password" id="signup_password" name="signup_password" placeholder="Create password">                
          </div>
        </div>

        <button name="submit" class="center-block"> Submit </button>
      </div>
    </form>
</div>
