<div class="container">
    <form action="./create" method="POST">

      <div class="inputs">
        <div class="row">
          <label for="pin_descr" class="center-block"> Pin Description </label>
        </div>
        <div class="row">
          <input type="text" class="center-block" id="pin_descr" name="pin_descr">
        </div>

        <button name="pin_it" class="center-block"> Pin It </button>
      </div>
    </form>
</div>