<div class="container">
  <form action="/profile/edit" method="POST">
    <div class="header">
      <h2> Edit Profile </h2>
    </div>

    <div class="sep"></div>

    <div class="inputs">
      <div class="row">
        <div class="col-xs-5">
          <label for="email_address">Email:</label>
        </div>
        <div class="col-xs-7">
          <input type="email" id="email_address" name="email" placeholder="<%= @current_user.email %>">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <label for="username"> Username: </label>
        </div>
        <div class="col-xs-7">
          <input type="text" id="username" name="username" placeholder="<%= @current_user.username %>">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <label for="password"> Password: </label>
        </div>
        <div class="col-xs-7">
          <input type="password" id="password" name="password" placeholder="<%= @current_user.password %>">
        </div>
      </div>

      <button name="save" class="center-block"> Save </button>
    </div>
  </form>
</div>
