
<div class="container">
    <form action="./signup" method="POST">
      <div class="header">
        <h2> Sign Up </h2>
      </div>

      <div class="sep"></div>

      <div class="inputs">
        <div class="row">
          <div class="col-xs-5">
            <label for="signup-first-name"> First Name: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="signup-first-name" name="signup-first-name" placeholder="First name">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="signup-last-name"> Last Name: </label>
          </div>
          <div class="col-xs-7">
            <input type="text" id="signup-last-name" name="signup-last-name" placeholder="Last name">
          </div>
        </div>

        
        <div class="row">
          <div class="col-xs-5">
            <label for="signup-email"> E-mail: </label>
          </div>
          <div class="col-xs-7">
            <input type="email" id="signup-email" name="signup-email" placeholder="Enter email">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-5">
            <label for="signup-password"> Password: </label>
          </div>
          <div class="col-xs-7">
            <input type="password" id="signup-password" name="signup-password" placeholder="Set a password">                
          </div>
        </div>

        <button name="submit" class="center-block"> Submit </button>
      </div>
    </form>
</div>
